<h2>Thêm Product</h2>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <label>Tên sản phẩm</label>
  <input type="text" formControlName="name">

  <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
    Tên sản phẩm không được để trống
  </div>

  <br><br>

  <label>Giá</label>
  <input type="number" formControlName="price">

  <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
    Giá phải lớn hơn 0
  </div>

  <br><br>

  <label>Danh mục</label>
  <input type="text" formControlName="category">

  <br><br>

  <button type="submit">Thêm</button>

</form>